body {
	background-color: #4abdac;
	color: #dfdce3 !important;
}

body::before {
  	content: "";
	position: absolute;
  	top: 0; 
  	left: 0;
  	width: 100%; 
  	height: 100%;  
	opacity: .4; 
  	z-index: -1;
  	background-image: url("../park.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
}

h1 {
	text-shadow: 1px -1px #00FF6C;
}

.emphasis::before {
	content: "";
	position: absolute;
  	top: 0; 
  	left: 0;
  	width: 100%; 
  	height: 100%;  
	opacity: .4; 
  	z-index: -1;
  	background-color: black;
}

.emphasis {}

.btn {
	background-color: #f78733;
}